# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science
- Evaluation of simple Arithmetic expression on Jupyter notebook for Data Science

#### Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala

#### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scikit-learn
3. Pandas
4. Tensor Flow

|Data Science Tools|
|----------------------|
| RStudio |
| Jupter Notebook |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

to_min = 200 / 60
print(to_min)

3.3333333333333335

## Author
R Prathibha Devkar